In [1]:
#Para crear un conjunto usaremos la función set()
conjunto = set()
conjunto

set()

In [2]:
conjunto = {1,2,3}
conjunto

{1, 2, 3}

In [3]:
#Los conjuntos son desordenados, cuando añadimos elementos estos no tienen por qué mantener el orden,
#como sí ocurre con las listas
#método para añadir = add
conjunto.add(4)
conjunto.add(0)
conjunto

{0, 1, 2, 3, 4}

In [7]:
#no se han añadido uno detrás de otro
conjunto.add("A")
conjunto.add("H")
conjunto.add("Z")
conjunto.add("B")
conjunto

{0, 1, 2, 3, 4, 'A', 'B', 'H', 'Z'}

In [8]:
#son muy utiles para comprobar pertenencia a grupos, con sintaxis directa: ejemplo
#conjunto de nombres, vemos la pertenencia de algunos dentro del grupo:
grupo = {"Asier","Hector","María"}

In [9]:
"Asier" in grupo

True

In [10]:
"Alba" in grupo

False

In [11]:
#si tenemos un conjunto inicial con elementos duplicados, estos no se mostrarán si
#mostramos el contenido del conjunto en sí
#Esto nos sirve muy bien para poder setear listas con elementos duplicados:
test = {"Hector","Hector","Hector"}
test

{'Hector'}

In [12]:
lista = [0,1,2,2,3,3,4,5,6]
c = set(lista)
c
#los elementos repetidos de la lista se eliminan al setearlo

{0, 1, 2, 3, 4, 5, 6}

In [14]:
d = list(c)
d

[0, 1, 2, 3, 4, 5, 6]

In [15]:
#Esto anterior se puede hacer en una única linea seguida:
l = [0,1,2,2,3,3,4,5,6]
l = list(set(l))
l

[0, 1, 2, 3, 4, 5, 6]

In [16]:
#También funciona con una cadena de caracteres:
cadena = "Al pan pan y al vino vino"
set(cadena)

{' ', 'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y'}